[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "c2c"]
	path = c2c
	url = https://github.com/mitchest/c2c
[submodule "optimus"]
	path = optimus
	url = https://github.com/mitchest/optimus
